save-exact=true
registry=http://artifactory.danskenet.net/artifactory/api/npm/joined-npm-build

# The environment variable with the same name overrides this variable
SASS_BINARY_PATH=${PWD}/mods/bin/node-sass/v4.5.2/win32-x64-48_binding.node

#cafile=C:\Tools\PortableGit\mingw64\ssl\certs\ca-bundle.crt
#proxy=http://w89700-wcg.danskenet.net:8080/
#https-proxy=http://w89700-wcg.danskenet.net:8080
