@mixin tab-icon($image) {
  height: 20px;
  width: 20px;
  padding-left: 20px;
  margin-right: 5px;
  background: url($image) 0 0 no-repeat;
  background-size: 20px;
}

.bpm-portal-page-header {

  padding-top: 15px;

  @at-root #{&}__logo {
    @at-root #{&}-container {
      width: 600px;
      text-align: right;
      vertical-align: middle;
      float: right;
    }
    @at-root #{&}-image {
      margin-left: 10px;
      width: 250px;
      height: 50px;
    }
  }

  @at-root #{&}__icon {
    @at-root #{&}--tasks {
      @include tab-icon('tab-tasks.png');
    }
    @at-root #{&}--process-instances {
      @include tab-icon('tab-process-instances.png');
    }
  }

  @at-root #{&}__link-group {
    font-weight: bold;
  }
}
