@mixin item-icon($image) {
  height: 14px;
  width: 0px;
  padding-left: 14px;
  background: url($image) 0px 0px no-repeat;
  background-size: 14px;
}

.exposed-item {

  @at-root #{&} .btn-group {
    margin-left: 10px;
  }

  @at-root #{&}__link {
    color: black;
    @at-root #{&}-container {
      font-size: 12px;
      padding-left: 5px;
    }
    @at-root #{&}--enabled {
      cursor: pointer;
    }
    @at-root #{&}--disabled {
      cursor: not-allowed;
    }
  }

  @at-root #{&}__icon {
    @at-root #{&}--service {
      @include item-icon('exposed-item-service.png');
    }
    @at-root #{&}--process {
      @include item-icon('exposed-item-process.png');
    }
  }
}

